*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    
        background-image:url(../assets/images/gi-bg.gif);
        background-color:rgba(46, 46, 46, 0.541);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        width:100vw;
        height:100vh;
        position: absolute;
    }
    
    
    .form{
    -webkit-box-shadow: -2px 10px 17px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 17px 6px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 17px 6px rgba(0,0,0,0.75);
    width:350px;
    padding:30px;
    margin: auto;
    margin-top:150px;
    border-radius:20px;
    text-align: center;
    font-family: 'Creepster', cursive;
    color: rgb(22, 9, 95);
    letter-spacing:2px;
    background-size: cover;

}


.textError{
    color:red;
    font-weight: 700;
    font-family: 'Chakra Petch', sans-serif;
    padding-top:10px;
}

.imgForm{
    width:300px;
    margin-bottom:20px;
}


.btnForm{
    padding:10px;
    margin-top:10px;
    background-color:rgb(63, 188, 238);
    color:rgb(22, 9, 95);
    border-radius:10px;
    border:solid 1px rgb(63, 188, 238);;
    font-family: 'Creepster', cursive;
    font-size:16px;
    letter-spacing:2px;
    cursor: pointer;
}

.btnForm:hover{
    background-color: rgb(36, 4, 54);
    color:rgb(63, 188, 238);
    border-color:rgb(36, 4, 54);;
    transition:0.5s;
}

.controls{
    width:100%;
    margin-top:5px;
    border: 1px solid rgb(0, 217, 255);
    border-radius: 10px;
    padding:10px;
    background-color:rgb(6, 184, 216);
    color:white;
}

.controls::placeholder{
    color:white;
}


.divControls{
    margin-top:20px;
}


