
.header{
    background-image: url(../assets/images/bg-nav.jpg);
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: darken;
    display:flex;
    justify-content: space-around;
    padding:40px;
}


.btnLogOut{
    width:40px;
    height:40px;
    cursor: pointer;
    margin-top: 30px;
}

.btnNav{
    text-decoration: none;
    margin-top: 40px;
    font-family:Creepster;
    font-size:24px;
    color:limegreen;
}

.btnNav:hover{
    color:white;
    transform: scale(1.1);
    transition: 400ms;
}

.logo{
    width:100px;
    background-color: black;
    border-radius:50px;
}
